body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    
    /* All Variables */
    /* Notifications Colors */
    --clr-error: #ff4d4f;
    --clr-success:#52c419;
    --clr-warning: #f9ad15;
    --clr-info:#1890ff;

    --primary-color: #fefefe;
    --accent-color-2: #06623b;
    --input-bg-color: #eef0f1; 
    --text-color: #333;
    --password-tips-color: #d6ffdf;
    --clr-footer: lightgray; 
    --clr-navBar: #fefefe;
    --clr-bg-panel: #eef0f1;
    --clr-bg-topics: #eef0f1;
    --clr-editor-tools: lightgray;
    --clr-border: lightgray;
}

/* Dark Mode */
html[data-theme='dark'] {
  --primary-color: #181e23;
  --clr-footer: #080c11;  
  --clr-navBar: #080c11;
  --accent-color-2: #f6d743;;
  --text-color: #d9d9d9;
  --clr-bg-panel: #1e2931;
  --clr-bg-topics: #1e2931;
  --clr-gray-lightmed: var(--clr-bg-panel)
}

body { 
  background-color: var(--primary-color); 
  color: var(--text-color) 
}
a { color: var(--accent-color-2) }
h1, h2, h3, h4, h5, h6 { color: var(--text-color) }
p { color: var(--text-color) }
hr.separator {     
  border-color: var(--text-color);
  width: 100px;
  margin: 0 auto;
}

/* Buttons */
.btn, .btn-outline {
  border-radius: .25rem;
  text-decoration: none;
  border: .1rem solid transparent;
  background-color: transparent;
  padding: .75rem 1rem;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .25s ease-in-out;
}
.btn:hover, .btn-outline:hover{ transform: translateY(-2px) }
.btn svg {
  font-size: 1.2rem;
  margin-right: 2rem;
}

.btn-accent{ background-color: var(--accent-color-2); color: var(--primary-color) }
.btn-accent:hover{ transform: translateY(-2px) }
.btn-outline-accent { 
  background-color: var(--primary-color); 
  color: var(--accent-color-2); 
  border: .1rem solid var(--accent-color-2) 
}

/* Form */
label { 
  margin-bottom: .2rem; 
  font-weight: 600; 
  color: var(--text-color) 
}
input, select, textarea {
  border-radius: .25rem;
  padding: .75rem 1rem;
  border: .1rem solid var(--clr-border);
  /* background-color: var(--input-bg-color); */
  outline: none;
  transition: all .15s ease-in-out;
}
textarea { height: 7rem }
input:focus, select:focus, textarea:focus{ 
  background-color: #e8f0fe; 
  box-shadow: 0 0 0 0.25rem rgb(6 98 59 / 25%) 
}
/* Label + input */
.form-input {
  display: flex;
  flex-direction: column;
}

/* social media btns */
.btn--fb {
  background-color: var(--clr-info);
  color: var(--primary-color)
}
.btn--google {
  background-color: var(--clr-error);
  color: var(--primary-color)
}
.btn--logout {
  background-color: var(--accent-color-2);
  color: var(--primary-color)
}

/* forms feed back --> success / error */
.feedback {
  font-size: .9rem;
  margin-left: 1rem;
  font-weight: 500;
}
.feedback-error { color: var(--clr-error) }
.feedback-success { color: var(var(--clr-success)) }